<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>course</title>
</head>
<body>
    <h1>Course List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>CourseId</th>
        </tr>
        <tr th:each ="obj : ${LIST}">
            <th th:text="${obj.id}">123</th>
            <th th:text="${obj.name}">Spring in Action</th>
            <th th:text="${obj.courseId}">Wrox</th>
        </tr>
    </table>
</body>
</html>